$primary-color: #f1d0a5;
$secondary-color: #456eff;
$text-color: #42546d;
$text-dark: #574924;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "extra-bold": 1000,
);

$mobile: 800px;
