* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 20px 0;
  background: black;
  color: wheat;
}

.flex-container {
  display: flex;
  height: 300px;
  align-items: baseline;
  background: #123212;
}

.items {
  width: 200px;

  margin: 2px;
  font-size: 2rem;
}
.one {
  font-size: 5rem;
  background: yellow;
}
.two {
  font-size: 4rem;
  background: red;
}
.three {
  font-size: 6rem;
  background: blue;
}
