* {
  padding: 0;
  margin: 0;
}
.nav-container {
  background: linear-gradient(
    30deg,
    rgb(65, 63, 63),
    rgb(80, 71, 61),
    black,
    #123432
  );
}
.navbar {
  display: flex;
  color: #fff;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  background: transparent;
  padding: 10px 20px;
  flex-grow: 3;
  font-size: 2rem;
  align-self: center;
  text-align: center;
}
.nav-links {
  flex-grow: 3;
}
.nav-links ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-links ul li {
  list-style-type: none;
  padding: 1rem;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.social-icon {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon i {
  padding: 1rem;
  color: aqua;
  font-size: 1.3rem;
}
@media screen and (max-width: 750px) {
  .navbar {
    display: block;
  }
}
